<ion-header [translucent]="true" style="background-color: aqua;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>EVENTS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <div class="carousel">
    <h1 style="color:#03D3C0;font-weight: bold;font-size: 22px;margin-left: 20px;margin-top: 20px;" class="fname">OUR EVENTS AND ACTIVITIES</h1>
  <ion-row>
      <ion-card>
        <ion-img src="https://csi.spit.ac.in/images/events/2022-23/se-hackathon-2023.webp"></ion-img>
        <ion-card-header>
          <ion-card-title>Hackathon</ion-card-title>
        </ion-card-header>
      </ion-card>
  </ion-row>
  <ion-row>
    <ion-card>
      <ion-img src="https://ts-production.imgix.net/images/mobile-cover-uploaded/de405747-569f-4124-bf3c-b616118ca75b.jpg?auto=compress,format&w=800&h=450"></ion-img>
      <ion-card-header>
        <ion-card-title>Marathon 2024</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-row>
  </div>









<ion-content >
  <ion-card *ngFor="let e of event" class="event-card">
    <ion-card-subtitle class="card-subtitle">{{ e.title }}</ion-card-subtitle>
  </ion-card>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ACTIVITIES</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
</ion-content>