<ion-header [translucent]="true">
  <ion-toolbar style="--ion-background-color: #2193b0">
  <ion-title>
  Nidhi's Portfolio
  </ion-title>
  </ion-toolbar>
  </ion-header>
  
<ion-content>
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6">
         <img class="pfp" size="small" alt="Nidhi Walavalkar" src="assets/pfg.jpeg"/>
      </ion-col>
      <ion-col size-md="6">
        <ion-card-title style="color: #2193b0;font-weight: bold;font-size: 22px;" class="fname">NIDHI WALAVALKAR </ion-card-title>
        <ion-card-subtitle style="color: #080808; font-size: 18px;margin-top: 10px;" class="job-role">Web Developer</ion-card-subtitle>
        <ion-col size="4">
          <a
          href="https://www.linkedin.com/in/nidhi-walavalkar-8706a9269/"><ion-icon
          name="logo-linkedin"></ion-icon></a>
          </ion-col>
          <!-- Column 2 with GitHub icon -->
          <ion-col size="4">
          <a href="https://github.com/Nidhiw11"><ion-icon
          name="logo-github"></ion-icon></a>
          </ion-col>
          <!-- Column 3 with Email icon -->
          <ion-col size="4">
          <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"><ion-icon
          name="mail-outline"></ion-icon></a>
          </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <p style="color: #020202;">Welcome to my portfolio! With a passion for technology, I bring innovative solutions to life through coding. My expertise lies in crafting dynamic and user-friendly websites, leveraging the latest technologies to enhance user experiences.</p>
    </ion-row>
  </ion-grid>
</ion-card>
 
  <ion-card>
  <ion-card-header style="border: 2px solid #2193b0;background-color: rgb(197, 239, 247)">
  <ion-card-title style="font-weight: bold;">TECHNICAL SKILLS</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <ion-list>
  <ion-item  style="background-color: #0e2c33;">
  <ion-thumbnail slot="start" >
  <img alt="Java"
  src="https://cdn-icons-png.flaticon.com/512/152/152760.png" />
  </ion-thumbnail>
  <ion-label>Java</ion-label>
  </ion-item>
  <ion-item  style="background-color: #0e2c33;">
  <ion-thumbnail slot="start">
  <img alt="Angular"
  src="https://static-00.iconduck.com/assets.00/angular-icon-1931x2048-bef1f3lm.png" />
  </ion-thumbnail>
  <ion-label>Angular</ion-label>
  </ion-item>
  <ion-item lines="none"  style="background-color: #0e2c33;">
  <ion-thumbnail slot="start">
  <img alt="JavaScript"
  src="https://w7.pngwing.com/pngs/640/199/png-transparent-javascript-logo-html-javascript-logo-angle-text-rectangle-thumbnail.png" />
  </ion-thumbnail>
  <ion-label>JavaScript</ion-label>
  </ion-item>

  <ion-item  style="background-color: #0e2c33;">
  <ion-thumbnail slot="start">
  <img alt="MySQL"
  src="https://w7.pngwing.com/pngs/384/848/png-transparent-mysql-php-database-javascript-ajax-carnifex-blue-text-logo-thumbnail.png" />
  </ion-thumbnail>
  <ion-label>MySQL</ion-label>
  </ion-item>
  </ion-list>
  </ion-card-content>
  </ion-card>

  <ion-card style="border-radius: 15px; background-color: white;">
  <ion-card-header style="background-color:  rgb(197, 239, 247); color: #fff;
  border-top-left-radius: 15px; border-top-right-radius: 15px;border: 2px solid #2193b0;">
  <ion-card-title style="font-weight: bold;">EDUCATION</ion-card-title>
  </ion-card-header>
  <ion-list style="padding: 2px;">
 
  <ion-item style="background-color: #ffffff; border-radius: 10px;
  margin-bottom: 10px; padding: 2px;">
  <ion-grid>
<ion-row style="background-color: #6dd5ed; margin-top: 20px;border-radius: 15px 50px 30px;">
    <ion-col size="3">
    <ion-thumbnail style="border-radius: 50%; overflow: hidden;
    width: 80px; height: 80px;">
    <ion-img src="https://images.collegedunia.com/public/college_data/images/logos/16336900566237748820344441900178615267475362148777984n.png" style="width: 100%; height: 100%;"></ion-img>
  </ion-thumbnail>
    </ion-col>
    <ion-col size="9">
    <ion-label>
    <h2 style="color: #080808;">Sardar Patel Institute of Technology</h2>
    <p style="color: #0c0c0c;">Degree: Master's of Computer Applications</p>
    <p style="color: #030303;">Date: January 2023 - Present</p>
    </ion-label>
    </ion-col>
    <ion-col size="3">
    <ion-thumbnail style="border-radius: 50%; overflow: hidden;
    width: 80px; height: 80px;">
    <ion-img src="https://www.mldcc.com/mldc/assets/images/mldcc_2.png"></ion-img>
    </ion-thumbnail>
    </ion-col>
    <ion-col size="9">
    <ion-label>
    <h2 style="color: #080808;">M.L Dahanukar College</h2>
    <p style="color: #0c0c0c;">Degree: Bachelors of Science in Information Technology</p>
    <p style="color: #030303;">Date: January 2020 - 2023</p>
    </ion-label>
    </ion-col>
    </ion-row>
  </ion-grid>
  </ion-item>
 
<ion-card style="border-radius: 15px; background-color: #2193b0; border: 1px solid #2193b0;">
  <ion-card-header style="background-color: rgb(197, 239, 247); color: #fff; border-top-left-radius: 15px; border-top-right-radius: 15px; border: 2px solid #2193b0;">
    <ion-card-title style="font-weight: bold;">PROJECTS</ion-card-title>
  </ion-card-header>
  <ion-list style="padding: 2px;">
    <ion-item style="background-color: #ffffff; border-radius: 10px; margin-bottom: 10px; padding: 2px;">
      <ion-grid>
        <ion-row style="border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
          <ion-label>
            <h2 style="color: #080808; font-weight: bold;">Trek Management System</h2>
            <p style="color: #050505;">Developed on Android studio using Java, it involves Location Tracker to identify user location that uses Google API to send notifications to the Admin.</p>
            <p style="color: #0c0c0c;"></p>
          </ion-label>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item style="background-color: #ffffff; margin-bottom: 10px; padding: 2px;">
      <ion-grid>
        <ion-row>
          <ion-label>
            <h2 style="color: #0a0a0a; font-weight: bold;">Mini Projects</h2>
            <p style="color: #020202;">Gaming Arcade Responsive Website using HTML, CSS, and JavaScript.</p>
            <p style="color: #0c0c0c;">Student Details Basic CRUD application using REST API with NodeJS, Express, and Mongo DB</p>
          </ion-label>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-card>
