ion-content {
    --background: #6ee5fa; /* Light blue background */
  }
  
  .app-title {
    font-family: 'Comic Sans MS', cursive;
    font-size: 24px;
    padding: 20px;
    color: #fc0b83; /* Pink color */
    font-weight: bold;
  }
  
  .section-title {
    font-family: 'Comic Sans MS', cursive;
    font-size: 24px;
    padding: 20px;
    color: #fc0b83; /* Pink color */
    font-weight: bold;
  }
  
  .subtitle {
    background-color: #a6f143; /* Green background */
    border-radius: 20px;
    width: 280px;
    padding: 20px;
    margin: 0 auto;
    font-family: 'Comic Sans MS', cursive;
    font-size: 18px;
    color: #333; /* Dark gray color */
  }
  